/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  color: #eff0f2;
  background: none;
  overflow: default;
  box-shadow: none;
  min-height: 0;
}

button {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.wrap {
  width: 270px;
  height: 30px;
  padding: 5px;
  background: #f1f1f1;
  /*background: #cccccc*/
}
.wrap .search {
  float: left;
  width: 270px;
  height: 30px;
}
.wrap .search .query {
  display: inline-block;
  width: 210px;
  height: 16px;
  padding: 6px 9px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
}
.wrap .search .query input {
  width: 210px;
  font-size: 12px;
  line-height: 16px;
  outline: 0;
}
.wrap .search .btn {
  display: inline-block;
  position: relative;
  float: right;
  margin-left: -3px;
  width: 36px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /*border-left: none;*/
  text-align: center;
}
.wrap .search .btn:before {
  position: relative;
  font-size: 16px;
  line-height: 9px;
  top: 3px;
  color: #666666;
}
.wrap .options {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  border-left: 1px solid #ccc;
  padding-left: 7px;
  text-align: center;
}
.wrap .options .btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  line-height: 21px;
}
.wrap .options .btn:hover {
  text-decoration: none;
}
.wrap .options .btn .new-badge {
  display: none;
  position: absolute;
  font-size: 10px;
  color: #fff;
  top: 2px;
  right: -3px;
  background: red;
  width: 7px;
  height: 7px;
  padding: 4px;
  border-radius: 5px;
  line-height: 7px;
}
.wrap .viewer-wrap {
  width: 320px;
  height: 180px;
  clear: both;
  margin-top: 35px;
}
.wrap .viewer-wrap hr {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.wrap .viewer-wrap #viewer {
  width: 320px;
  height: 180px;
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  background: #fff;
  width: 270px;
  padding: 5px;
}

#container h1 {
  font-size: 30px;
}

#container p {
  font-size: 15px;
}

#container li {
  font-size: 15px;
  color: #aaa;
}

#container hr {
  
}

#container #url-counter{

}








